global
    log stdout format raw local0 info
    maxconn 4000
    user root
    chroot /

defaults
    mode http
    log global
    option httplog
    timeout http-request 10s
    timeout connect 10s
    timeout client 10m
    timeout server 10m

backend dockerbackend
    server dockersocket unix@/var/run/docker.sock

frontend dockerfrontend
    bind *:2375

    acl is_version  path_reg -i ^(/v[\d\.]+)?/version$
    acl is_inspect  path_reg -i ^(/v[\d\.]+)?/containers/[a-zA-Z0-9_.-]+/json$
    acl is_start    path_reg -i ^(/v[\d\.]+)?/containers/[a-f0-9]+/start$
    acl is_stop     path_reg -i ^(/v[\d\.]+)?/containers/[a-f0-9]+/stop$

    http-request allow if METH_GET  is_version
    http-request allow if METH_GET  is_inspect
    http-request allow if METH_POST is_start
    http-request allow if METH_POST is_stop
    http-request deny

    default_backend dockerbackend
